.exampleInputEmail1{
    width: 25%;
    
    margin-left: 35%;
   
}
.password{
    width: 25%;
   
    margin-left: 35%; 
}
#button{
   
    text-align: center;
    margin-left: 35%;   
}
.logo{
    width: 25%;
    text-align: center;
    margin-left: 35%;
    justify-content: center; 
}