<form (submit)="isValidCredentials()">
    <br/>
    <div>
    <img src="../../assets/Logo/pa logo.png" class="logo"/>
  </div>
  <br/>
    <div class="form-group">
      <input type="text"  class="exampleInputEmail1" placeholder="Username" [(ngModel)]="userName" name="user">
    </div>
    <div class="form-group">
      <input type="password" class="password" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password" name="pass">
    </div>
    <div>
    <button type="submit"  class="btn btn-primary" id="button">Submit</button>
  </div>
  <div>
    <button type="submit"  class="btn btn-link" id="button" (click)="navToReg()"> Create new account</button>
  </div>
  </form>